<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>df</key>
		<string>Maps</string>
		<key>icon</key>
		<string>map</string>
		<key>zh-Hans</key>
		<string>地图</string>
		<key>zh-Hant</key>
		<string>地圖</string>
		<key>ja</key>
		<string>マップ</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Phone</string>
		<key>icon</key>
		<string>phone</string>
		<key>zh-Hans</key>
		<string>电话</string>
		<key>zh-Hant</key>
		<string>電話</string>
		<key>ja</key>
		<string>電話</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Messages</string>
		<key>icon</key>
		<string>sms</string>
		<key>zh-Hans</key>
		<string>短信</string>
		<key>zh-Hant</key>
		<string>短信</string>
		<key>ja</key>
		<string>メッセージ</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Calendar</string>
		<key>icon</key>
		<string>calendar</string>
		<key>zh-Hans</key>
		<string>日历</string>
		<key>zh-Hant</key>
		<string>日曆</string>
		<key>ja</key>
		<string>カレンダー</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Clock</string>
		<key>icon</key>
		<string>clock</string>
		<key>zh-Hans</key>
		<string>时钟</string>
		<key>zh-Hant</key>
		<string>時鍾</string>
		<key>ja</key>
		<string>時計</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Video</string>
		<key>icon</key>
		<string>video</string>
		<key>zh-Hans</key>
		<string>视频</string>
		<key>zh-Hant</key>
		<string>影片</string>
		<key>ja</key>
		<string>ビデオ</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Weather</string>
		<key>icon</key>
		<string>weather</string>
		<key>zh-Hans</key>
		<string>天气</string>
		<key>zh-Hant</key>
		<string>天氣</string>
		<key>ja</key>
		<string>天気</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Mail</string>
		<key>icon</key>
		<string>mail</string>
		<key>zh-Hans</key>
		<string>邮件</string>
		<key>zh-Hant</key>
		<string>郵件</string>
		<key>ja</key>
		<string>メール</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Camera</string>
		<key>icon</key>
		<string>camera</string>
		<key>zh-Hans</key>
		<string>相机</string>
		<key>zh-Hant</key>
		<string>相機</string>
		<key>ja</key>
		<string>カメラ</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Music</string>
		<key>icon</key>
		<string>music</string>
		<key>zh-Hans</key>
		<string>音乐</string>
		<key>zh-Hant</key>
		<string>音樂</string>
		<key>ja</key>
		<string>音楽</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Photos</string>
		<key>icon</key>
		<string>photo</string>
		<key>zh-Hans</key>
		<string>照片</string>
		<key>zh-Hant</key>
		<string>照片</string>
		<key>ja</key>
		<string>写真</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Settings</string>
		<key>icon</key>
		<string>settings</string>
		<key>zh-Hans</key>
		<string>设置</string>
		<key>zh-Hant</key>
		<string>設定</string>
		<key>ja</key>
		<string>設定</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Stocks</string>
		<key>icon</key>
		<string>stock</string>
		<key>zh-Hans</key>
		<string>股市</string>
		<key>zh-Hant</key>
		<string>股市</string>
		<key>ja</key>
		<string>株価</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Compass</string>
		<key>icon</key>
		<string>compass</string>
		<key>zh-Hans</key>
		<string>指南针</string>
		<key>zh-Hant</key>
		<string>指南針</string>
		<key>ja</key>
		<string>コンパス</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Contacts</string>
		<key>icon</key>
		<string>contacts</string>
		<key>zh-Hans</key>
		<string>通讯录</string>
		<key>zh-Hant</key>
		<string>聯絡資訊</string>
		<key>ja</key>
		<string>連絡先</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Calculator</string>
		<key>icon</key>
		<string>cal</string>
		<key>zh-Hans</key>
		<string>计算器</string>
		<key>zh-Hant</key>
		<string>計算器</string>
		<key>ja</key>
		<string>計算機</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Notes</string>
		<key>icon</key>
		<string>notes</string>
		<key>zh-Hans</key>
		<string>备忘录</string>
		<key>zh-Hant</key>
		<string>備忘錄</string>
		<key>ja</key>
		<string>メモ</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Reminders</string>
		<key>icon</key>
		<string>reminder</string>
		<key>zh-Hans</key>
		<string>提醒事项</string>
		<key>zh-Hant</key>
		<string>提醒事項</string>
		<key>ja</key>
		<string>リマインダー</string>
	</dict>
	<dict>
		<key>df</key>
		<string>iTunes</string>
		<key>icon</key>
		<string>itunes</string>
		<key>zh-Hans</key>
		<string>iTunes</string>
		<key>zh-Hant</key>
		<string>iTunes</string>
		<key>ja</key>
		<string>iTunes</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Safari</string>
		<key>icon</key>
		<string>safari</string>
		<key>zh-Hans</key>
		<string>Safari</string>
		<key>zh-Hant</key>
		<string>Safari</string>
		<key>ja</key>
		<string>Safari</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Passbook</string>
		<key>icon</key>
		<string>passbook</string>
		<key>zh-Hans</key>
		<string>Passbook</string>
		<key>zh-Hant</key>
		<string>Passbook</string>
		<key>ja</key>
		<string>Passbook</string>
	</dict>
	<dict>
		<key>df</key>
		<string>FaceTime</string>
		<key>icon</key>
		<string>facetime</string>
		<key>zh-Hans</key>
		<string>FaceTime</string>
		<key>zh-Hant</key>
		<string>FaceTime</string>
		<key>ja</key>
		<string>FaceTime</string>
	</dict>
	<dict>
		<key>df</key>
		<string>App Store</string>
		<key>icon</key>
		<string>appstore</string>
		<key>zh-Hans</key>
		<string>App Store</string>
		<key>zh-Hant</key>
		<string>App Store</string>
		<key>ja</key>
		<string>App Store</string>
	</dict>
	<dict>
		<key>df</key>
		<string>Game Center</string>
		<key>icon</key>
		<string>gamecenter</string>
		<key>zh-Hans</key>
		<string>Game Center</string>
		<key>zh-Hant</key>
		<string>Game Center</string>
		<key>ja</key>
		<string>Game Center</string>
	</dict>
</array>
</plist>
